h1{
    color: yellow;
   text-align: center;
}
p{
    text-align: center;
    font-size: 18px;
}
button{
    background-color: aquamarine;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 4px;
    margin-right: 15px;
   
}
button:hover{
    background-color: rgba(106, 153, 211, 0.589);
    color: aliceblue;
}
.container{
    display: flex;  
justify-content: center;  
align-items: center;  
}
.box{
    margin: 90px;
}
body{
    background-color: green;
}
/* #player-el{
    text-align: center;
    font-weight: bold;
    color: aqua;
} */
#messege-el{
    font-weight: bold;
    color: aqua;
    font-size: 20px;
}